<html>
<head>
  <div style="width:100%;text-align:center;">
    <a href ="">
      </a>
    </div>
  </head>
  <body>
    <div style="margin: auto;width:80%;">
      <p style="font-size:16px;text-transform: capitalize;">Hello&nbsp;<%=name%>,</p> <p style="font-size:16px"></p>
      <p style="text-align:left">
          The heartiest congratulations on your hard and successful work for completing your project <b>"<%=project%>"</b> at GSOC 2017. My name is Gaurav Saini and I have been involved with Google Summer of Code from last 4 years as student,mentor and organisation admin this year.<br>

          <img src="https://community.joomla.org/images/blogs/gsoc-jan-2017-06-25/gsoc.png">
          </p>
         <!--  <p style="text-align:left"> 
          Recently, I thought of starting a "GSOC Tech Series" where in I want contribution from your side sharing one of the most advanced and challenging task or enhancement you have done as part of you GSOC project. I would be extremely grateful to you if you could draft a technical post so that I could publish your experience under our <a href="https://medium.com/viithiisys" style="text-decoration: none;">publication</a> where in you will be the writer of that post itself (<a href="https://help.medium.com/hc/en-us/articles/213904978-Add-draft-or-post-to-publication">https://help.medium.com/hc/en-us/articles/213904978-Add-draft-or-post-to-publication</a>). After Publishing under our publication on Medium we then start sharing on various communities, social media platforms and doing some marketing so that your knowledge reaches to masses, making it beneficial to those who have interest in the respective project or for GSOC upcoming students. Even your project will be cross shared with multiple organisations as all the students posting our publication will help share your work also as it's under common publication. At the end, it will be helpful to you by making it reach out to many people and making them aware of your work and helping you with your future endeavors </p> -->
          <p style="text-align:left">
             Recently, I thought of starting a "GSOC Tech Series" where in I want contribution from your side sharing one of the most advanced and challenging task or enhancement you have done as part of you GSOC project. One of my motivation starting this initiative is to give all GSOC student platform where everyone can share their learnings, which will help future students also. Please respond back by filling up this form https://goo.gl/forms/Rpe7jzAjrVp2vuh13, so my editor can help you draft your technical post to perfection and share with the world.
          </p>
          <br>

      <!-- <p>Regards,
       <br>Gaurav Saini<br>
      <a href="http://www.viithiisys.com/" target="blank" style="text-decoration: none;color: inherit;">
          Viithiisys Technologies
      </a>
      </p> -->
      
    <div class="clearfix"></div>
    <div style="font-size:small">
   <div>
      <table border="0" cellspacing="0" cellpadding="0" width="470" style="color:rgb(136,136,136);font-size:12.8px;width:470px">
         <tbody>
            <tr valign="top">
               <td style="border-right:1px solid rgb(81,176,33);padding-right:10px;width:10px">
                   <img src="https://scontent.fdel1-2.fna.fbcdn.net/v/t1.0-9/20994333_10155536427695053_3099591743672438409_n.png?oh=e6e7ad52b03eb7871e48d09205e236b4&oe=5A4F5430" width="96" height="96" class="CToWUd">
               </td>
               <td style="font-stretch:normal;padding-left:10px">
                  <font size="2"><font color="#000000" style="line-height: 20px;">
                    <b>Gaurav Saini</b>
                  </font>
                  <br>
                  </font>Viithiisys Technologies<br style="font-size:small;line-height: 18px;">
                     <span style="font-size:small">m: +91-9915346686</span>
                     <br style="font-size:small"><font size="2">w:&nbsp;
                     <a href="http://www.viithiisys.com/" style="color:rgb(17,85,204);line-height: 18px;" target="_blank">www.viithiisys.com</a>
                  </font>
                  <div style="font-family:arial;font-size:14px;color:rgb(100,100,100);margin-top:5px">
                     <a href="https://www.linkedin.com/in/gauravsaini03" style="color:rgb(17,85,204);text-decoration: none;" target="_blank">
                        <img src="https://ci3.googleusercontent.com/proxy/prJ4M0q-WFNw5qBtGr1x6K0JpRgpoBQdvnsx4PTq5BiGGq6qsP9I18OZ4E9gKC5ncYufNO1rwiPEih7MdQM=s0-d-e1-ft#http://go.toutapp.com/eaedfc98770e7c9343" width="16" height="16" alt="" class="CToWUd">
                     </a>&nbsp;
                     <a href="https://twitter.com/gauravsaini03" style="color:rgb(17,85,204);text-decoration: none;" target="_blank" width="16" height="16" alt="" class="CToWUd">
                       
                      <img src="https://ci3.googleusercontent.com/proxy/cccpWnwXvbXTxOtLqEP1dzlNeYTn9i3Ne5CGvcd-r2ZO2B5yTah3SBsIDTM4XrJ_40LUlbtJPC25Mb17bCw=s0-d-e1-ft#http://go.toutapp.com/d6af0df3ad4b8eaf0f" width="16" height="16" alt="" class="CToWUd">                       
                     </a>&nbsp;
                     <a style="color:rgb(17,85,204)"></a><a href="https://facebook.com/gauravsaini03/" style="color:rgb(17,85,204)" target="_blank">
                        <img src="https://ci4.googleusercontent.com/proxy/XyjjJ0YBL_5ifQJ1ToXEGPQtyuW8fK-mhG3y3Wwez9-91otvEOFh1Gj2b2u_wqXQenNiWjSg7etabIX2pWNDbESJRZDkAA4aarU29piHk6XTHMh6CepfOTl5ZpziVmbVqDZgxkG-1g1FPgwzWpd7atFmUlA9K3VwhWj9hXFo5I_mEM1-Y3lKfCXIUJf2E84QcrjpN8iAUPmsumo=s0-d-e1-ft#https://docs.google.com/uc?export=download&amp;id=0B18qwZi55EKcVXhaNXRKRG9qUEE&amp;revid=0B18qwZi55EKcbUt2QVZwWHBwWVc0aHBaSEdXemdpa1d5TC9BPQ" style="font-family:arial,sans-serif;color:rgb(136,136,136);font-size:12.8px" class="CToWUd">
                     </a>
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
      
   </div>
</div>

  </div>
 <!--  <footer style="clear: both;">
      <div style="width: 80%; margin-left: 10%; height: 1px; background-color: #e5ebef; clear: both;">&nbsp;</div>
      <div style="width:80%;">
        <p style="text-align:center;margin-left:25%"><br></p>
      </div>
      <div style="text-align: center;width:80%;margin-left:10%;">
        <a href="http://www.viithiisys.com/" target="blank">
          <img src="https://cdn-images-1.medium.com/fit/c/200/200/1*ytF0U-Ci-4ZcFS2-Y7jxWA.jpeg" width="70" style="background-color:rgba(158, 158, 158, 0.65);"></a><br>© Viithiisys Technologies
          <br>
          For any further assistance: contact@viithiisys.com
          <br>694, Sector-82 Near landmark JLPL, 
          <br>Sahibzada Ajit Singh Nagar, 
          <br>Mohali, Punjab 160082,
          <br>Phone: +91 172 381 0001


        </div>
      </footer> -->
    </body>
  </html>